---
layout : default
---
<article class="container Font3">
  <section class="row  mt-1 mb-5 p-2">
    <aside class="col-12 text-center">
      <h1>Gestion de projet Agile</h1>
    </aside>
  </section>
  <section class="row">
    <aside class="col-12">
      <h2>Constituer une équipe Agile</h2>
      <p> En gestion de projet, les besoins initiaux de votre client et l'interprétation qu'en feront les membres de
        votre équipe ne coïncideront pas toujours...
        Les 4 valeurs du Manifeste agile :</p>
      <ul>
        <li>Les individus et leurs interactions
          <ul>
            <li>Échecs ou réussites, ce sont bien vos équipes qui sont responsables des projets. Votre prise en compte
              du facteur humain est donc essentielle.</li>
            <li>C’est incontournable, vous devez intégrer les forces et surtout les faiblesses des interactions humaines
              dans votre gestion de projet agile.</li>
            <li>L’agilité propose des solutions pour souder, dynamiser et responsabiliser vos équipes au lieu de les
              mettre en concurrence.</li>
          </ul>
        </li>
        <li>Logiciels (produits, services, etc.) opérationnels
          <ul>
            <li>Les méthodes agiles se veulent avant tout pragmatiques, c’est donc l’opérationnel qui prime toujours.
              Votre équipe est à la fois auto-organisée et autonome.</li>
            <li> Les livraisons intermédiaires, régulièrement proposées à votre client, sont toujours une part cohérente
              et utilisable de votre solution complète.</li>
            <li>La qualité est toujours évaluée en continu pendant votre gestion du projet.</li>
          </ul>
        </li>
        <li>La collaboration avec les clients
          <ul>
            <li>Le contrat doit soutenir votre réussite du projet et non contraindre son exécution.</li>
            <li>Les interactions fortes et permanentes avec votre client facilitent la négociation. </li>
            <li>Les enjeux de l’agilité et ses principes sont bien compris et intégrés par votre client.</li>
          </ul>
        </li>
        <li>L’adaptation au changement
          <ul>
            <li>Les entreprises doivent constamment faire preuve de réactivité face à la concurrence et aux attentes du
              marché.</li>
            <li>L’accélération permanente du progrès technologique augmente l’obsolescence des applications qui sont
              contraintes de s’adapter en continu.</li>
            <li>L’usage des réseaux sociaux a définitivement révolutionné l’approche des utilisateurs qui deviennent de
              plus en plus exigeants.</li>
            <li>Le contexte économique oblige les équipes à être capables de produire efficacement de plus en plus de
              valeur pour les utilisateurs finaux.</li>
          </ul>
        </li>
      </ul>
      <h3>Modèle de Tuckman les 4 premières étapes</h3>
      <ul>
        <li>Forming/Formation, les membres de votre équipe apprendront à se connaître et à se faire accepter. Les
          conflits latents ne seront pas ou peu abordés.</li>
        <li>Storming/Tension, les membres de votre équipe se placeront les uns par rapport aux autres, se confronteront
          et pourront parfois entrer en conflit.</li>
        <li>Norming/Régularisation, votre équipe commencera à développer un cadre coopératif et collaboratif plus
          fluide. Les membres partageront des valeurs et des objectifs communs. La confiance s’installera dans votre
          équipe qui s’auto-organisera progressivement.</li>
        <li>Performing/Exécution, chaque membre de votre équipe sera interdépendant, autonome et compétent. La confiance
          sera bien installée ; but à atteindre pour gérer un projet efficacement.</li>
      </ul>
      <h4> Etape 1 : Forming/Formation</h4>
      <p>Les membres de votre équipe se rencontrent, apprennent à se connaître, se testent entre eux, se positionnent
        les uns par rapport aux autres et découvrent la légitimité de chacun</p>
      <ul>
        <li>Gardez des objectifs clairs.</li>
        <li>Aidez à définir les rôles.</li>
        <li>Créez du lien entre les participants.</li>
        <li>Soutenez ceux qui font des propositions.</li>
        <li>Formez les équipiers (théorie et/ou pratique). <br>
          <span class="bold">Le niko-niko</span>  : parvenir à objectiver la motivation ou le bien-être de l'équipe, <span class="bold">partager l’état d’esprit du jour.</span></li>
      </ul>
      <h4> Etape 2 : Storming/Lancement</h4>
      <p></p>
      <ul>
        <li class="bold">Installez un climat de confiance, de tolérance et d’empathie.</li>
        <li  class="bold">Aidez à maintenir le respect, l’écoute et le dialogue.</li>
        <li><span class="bold"> Rendez explicites certains problèmes et initiez une démarche pour les corriger.</span> <br>
          La “boîte de temps” (time boxing) <br>L'objectif est de réaliser une ou plusieurs activités en un temps limité
          et connu par tous.
          Sa règle est de réitérer le travail d’équipe en plusieurs boîtes de 25 minutes, <span class="bold">technique du pomodoro.</span> </li>
        <li>Expliquez l’objectif aux participants.</li>
        <li>Définissez les livrables attendus.</li>
        <li>Indiquez la démarche qui va être utilisée.</li>
        <li>Maîtrisez la répartition du temps.</li>
        <li>Désignez un “gardien du temps” (time keeper).</li>
        <li>Déroulez les activités prévues.</li>
        <li>Vérifiez que les objectifs sont atteints.</li>
        <li>Évaluez que les participants sont satisfaits. <br>
          Effectuer un bilan dès la fin du travail chronométré.</li>
      </ul>
      <h3> Etape 3 : Norming/Régularisation</h3>
      <ul>
        <li  class="bold">Aidez l’équipe a se discipliner.</li>
        <li  class="bold">Aidez l’équipe à être plus rigoureuse.</li>
        <li>Aidez les membres de l'équipe à résoudre les conflits.Aidez l’équipe à se discipliner.</li>
        <li>Aidez l’équipe à être plus rigoureuse.</li>
        <li  class="bold">Aidez les membres de l'équipe à résoudre les conflits.</li>
      </ul>
      <p>
        <span class="bold">Le “ROTI” (pour Return On Time Invested) </span> est un bon moyen de mesurer la  <span class="bold">pertinence d’une réunion. </span> <br>
        1 doigt → inutile, je n’ai rien gagné ou rien appris (perte de temps).<br>
        2 doigts → utile, mais ça ne valait pas tout le temps passé (pertes de temps).<br>
        3 doigts → moyenne, je n’ai pas perdu mon temps (sans plus).<br>
        4 doigts → bonne, j’ai gagné plus que le temps que celui passé en réunion (positif).<br>
        5 doigts → excellente, ça valait bien plus que le temps qu’on y a passé (bénéfices).</p>

      <h3>Etape 4 : Performing/Exécution</h3>
      <p>Partagez des objectifs communs avec tous les membres de l'équipe agile et jouez le rôle de passerelle ou
        d’intermédiaire avec chaque partie prenante du projet.</p>
      <ul>
        <li>Soyez la passerelle entre l’équipe et les parties prenantes du projet.</li>
        <li>Soyez le facilitateur de la prise de décision (à niveau supérieur d’organisation, le cas échéant). <br>
          Déployer des outils dédiés à la gestion de projet agile. Asana, Jira, Sciforma, Trello…</li>
      </ul>
      <h3> Les besoins utilisateurs</h3>
      <p> L'UX-Design (User eXperience Design) est une discipline dont l'objectif est de concevoir un produit au service
        des utilisateurs.</p>
      <ul>
        <li>Les besoins du projet (Client et utilisateur)
          <ul>
            <li>Organisez votre premier rendez-vous dans un lieu neutre (si possible), posez des questions ouvertes et
              schématisez le projet du client afin de collecter ses besoins.</li>
            <li>En qualité de coach agile, vous présentez l'ensemble des méthodes de travail collaboratives dans votre
              gestion de projet afin de gagner l'adhésion du client.</li>
            <li>Vous faites participer le client à la conception du projet avec la rédaction d'un texte synthétique, la
              réalisation d'une carte mentale, l'analyse de son vocabulaire, etc.</li>
            <li>Vous livrez rapidement un rapport au client après votre premier rendez-vous.</li>
          </ul>
        </li>
        <li>Cartographiez le projet (brainstorming)
          <ul>
            <li>Facilitez toutes vos gestions de projet à venir en consacrant chaque jour ou chaque semaine un moment
              dédié à votre veille (stratégique, technique, culturelle, etc.).</li>
            <li>Vous devez vous imprégner du sujet en allant sur le terrain (si possible) et en observant les
              utilisateurs potentiels du produit ou du service à développer.</li>
            <li>En qualité de coach agile, vous présentez une vision d'ensemble du projet avant la validation des
              différentes enveloppes budgétaires.</li>
            <li>Vous cartographiez et vous planifiez le projet avec la participation du client.</li>
          </ul>
        </li>
        <li>Menez des entretiens
          <ul>
            <li>Menez plusieurs entretiens semi-directifs avec des utilisateurs potentiels du produit ou du service à
              développer.</li>
            <li>Comparez les résultats de votre étude qualitative en conservant toujours le même guide d'entretien et en
              filmant les utilisateurs (ou leurs usages).</li>
            <li>Vous prêtez une attention particulière aux comportements des utilisateurs afin de recueillir des
              informations pertinentes pour votre gestion de projet. </li>
            <li>Vous proposez à l'utilisateur de consulter différentes ressources, sans rien imposer.</li>
            <li>Vous posez des questions courtes et précises pour favoriser l'écoute et l'observation.</li>
            <li>En qualité de coach agile, vous collectez les retours d'expérience de chaque utilisateur afin de
              faciliter votre storytelling avec l'équipe et le client. <br> Complétez vos entretiens avec des sondages
              (mais pas l'inverse).</li>
          </ul>
        </li>
        <li>Créez des personas (utilisateurs fictifs)
          <ul>
            <li>Permet de répondre à deux questions essentielles en gestion de projet agile :
              Qui sont les utilisateurs ? <br>
              Comment les utilisateurs utilisent-ils mon produit (ou mon service) ?</li>
            <li>Appliquez la méthode des personas afin de définir des profils d'utilisateurs bien distincts pour le
              produit ou le service à développer.</li>
            <li>En qualité de coach agile, vous valorisez la consultation des personas afin de créer un langage commun
              avec l'équipe et le client.</li>
            <li> Vous pouvez associer la méthode des personas à celle des entretiens utilisateurs, sans calquer cette
              étude sociologique sur votre panel. </li>
            <li>Vous détectez les profils d'utilisateurs double-face pour définir un persona à part.</li>
            <li>Donnez un visage et des émotions crédibles à chacun de vos personas.</li>
            <li>Affichez la représentation des personas dans votre environnement de travail.</li>
            <li>Imaginez des scénarii et des jeux de rôles avec les membres de votre équipe.</li>
          </ul>
        </li>
        <li>Réalisez un storyboard <br>
            Mettez vos personas en scène dans des storyboards qui serviront de références aux membres de votre équipe agile. <br>
            Décrivez les interactions entre les utilisateurs et le produit ou le service : en agençant des cases, en dessinant des situations concrètes et en ajoutant des dialogues. <br>
            Vous devez partager et afficher vos storyboards dans votre environnement de travail.
            <ul>
                <li>Le storyboard 
                    <ul>
                        <li>Le récit découpé en vignettes doit mettre en contexte les différentes interactions entre vos utilisateurs et le produit ou le service de votre client.</li>
                    </ul>
                <li>Le Wireframe 
                    <ul>
                        <li>La maquette ou croquis amène votre équipe à se concentrer sur la structure, l'organisation et les interactions. C'est un livrable très pertinent avant d'investir du temps et de l'attention au choix des couleur, des polices ou des images.</li>
                    </ul>
                </li>
                <li>Les prototypes 
                    <ul>
                        <li>Les modèles de travail (papiers ou informatiques) ont pour objectif d'analyser l'engagement de votre client et de vos utilisateurs en montrant à quoi le produit ou le service ressemblera (du Mockup à la première version, par exemple).</li>
                    </ul>
                </li>
                </li>
            </ul>
        </li>
      </ul>
      <h3>Representation visuelle de votre gestion de projet</h3>
      <h4>les user stories</h4>
      <p>Qui - quoi - pourquoi
          <ul>
              <li>Le contexte → en tant que "rôle/personas"</li>
              <li>La fonction → je veux "fonctionnalité"</li>
              <li>Le bénéfice → afin de (pour) "raison/objectif"</li>
          </ul>
          Ex : En tant que joueur, je veux visualiser le plan du jeu d'évasion afin de pouvoir m'orienter.
      </p>
      <p>Toutes les user stories pertinentes sont réunies dans le carnet du projet ou <span class="bold"> product backlog</span> qui reste sous la responsabilité de votre client.</p>
      <p>La grille de critères INVEST
        <ul>
            <li>Independent → pas de dépendance entre les user stories.</li>
            <li>Negotiable → la user story peut être arbitrée par le client et l'équipe.</li>
            <li>Valuable → un besoin est toujours associé à la user story.</li>
            <li>Estimable → l’équipe doit être en capacité d'estimer la user story.</li>
            <li>Small → la user story est décrite précisément.</li>
            <li>Testable → les critères d’acceptation de la user story sont atteignables.</li>
        </ul>
      </p>
      <p>évaluer la pertinence des tâches avec la grille de critères SMART
          <ul>
              <li>Specific → toute votre équipe comprend ce qu’il y a à faire.</li>
              <li>Mesurable → votre équipe sait comment s’assurer que la tâche est réalisée.</li>
              <li>Achievable → votre équipe dispose de tous les moyens pour réaliser la tâche.</li>
              <li>Relevant → la tâche participe bien à la concrétisation de la user story.</li>
              <li>Time Bound → la tâche a une durée connue et limitée de travail.</li>
          </ul>
      </p>
      <h3>Le Product Backlog (carnet du produit)</h3>
      <p>Les user stories et les tâches y sont décrites, classées et évaluées afin de faciliter votre gestion quotidienne. </p>
      <h3>la méthode MoSCoW</h3>
      <ul>
          <li>“Must have”, les fonctionnalités indispensables</li>
          <li>“Should have”, les fonctionnalités importantes</li>
          <li>“Could have”, les fonctionnalités de confort</li>
          <li>“Want to have but Won’t have”, les fonctionnalités souhaitables, mais reportées</li>
      </ul>
      <h3>Le planning poker</h3>
      <p>Le planning poker est une estimation collective des efforts nécessaires pour produire tout ou partie d’une user story.</p>
      <h3>Suivre l’état d'un projet, la méthode Kanban</h3>
      <p>Sur github on peut créer un suivi du projet.</p>
      <ul>
          <li>Backlog ou To do / Les users story a réaliser.</li>
          <li>In progress / user story en cours de réalisation.</li>
          <li>Test / test unitaires pour la validation.</li>
          <li>Done / travail terminé.</li>
      </ul>
    </aside>
  </section>
</article>
