<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Poiret+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lobster|Old+Standard+TT|Teko&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cormorant|Nanum+Myeongjo&display=swap" rel="stylesheet">

  <!-- liens vers le CDN de bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
  <!-- Lien vers mes fichiers css -->
  <!-- <link rel="stylesheet" href="{{ "/assets/css/stylePerso.css" | relative_url }}" type="text/css"> 
  <link rel="stylesheet" href="{{ "/assets/css/fullSizeImg.css" | relative_url }}" type="text/css"> -->
  <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" type="text/css">
 

  {%- if page.title == "Micro-framework" -%}
     <link rel="stylesheet" href="{{ "/assets/css/framework.css" | relative_url }}" type="text/css">
  {%- endif -%}
   
  <title>{{ page.title }}</title>
</head>
