.bg-primary {
    background-color: $color-primary;
}

.bg-color-secondary {
    background-color: $color-secondary;
}

.bg-success {
    background-color: $color-success;
}

.bg-danger {
    background-color: $color-danger;
}

.bg-warning {
    background-color: $color-warning;
}

.bg-info {
    background-color: $color-info;
}

.bg-light {
    background-color: $color-light;
}

.bg-color-dark {
    background-color: $color-dark;
}

.bg-muted {
    background-color: $color-muted;
}

.bg-white {
    background-color: $color-white;
}