/* ----------------------------------------------------------------------
                              ANIMATIONS
---------------------------------------------------------------------- */
 // animation: name duration timing-function delay iteration-count direction fill-mode;

 // opacity modified
 .waitShow{
  animation-name:wait;
  animation-duration: 5s;
  animation-direction: normal;
}
@keyframes wait {
  from {
    opacity:0;
  }
  to{
    opacity:1;
  }
}
// opacity and transform
@mixin opacityAndMove{
  animation-name: lowScreen;
  animation-duration: 1s;
  animation-direction: normal;
}
@keyframes lowScreen {
  from {
    opacity: 0;
    transform: scale(0) translateX(50vw) rotatez(90deg);
  }

  to {
    opacity: 1;
    transform: scale(1) ;
  }
}

@mixin translateXToRight{
  animation-name: toRight;
  animation-duration: 1s;
  animation-direction: normal;
}
@keyframes toRight {
  from {
    transform: translateX(-100vw);
  }
}

@mixin translateXToLeft{
  animation-name: toLeft;
  animation-duration: 1s;
  animation-direction: normal;
}
@keyframes toLeft {
  from {
    transform: translateX(100vw);
  }
}

@mixin translateYToDown{
  animation-name: toDown;
  animation-duration: 1s;
  animation-direction: normal;
}
@keyframes toDown {
  from {
    transform: translatey(100vw);
  }
}


/* ----------------------------------------------------------------------
                              BUTTERFLY
---------------------------------------------------------------------- */
.fly {
  border: 1px solid;
  z-index: 500;
  top: $positionYpapillon;
  left: $positionXpapillon;
  width: 10%;
  white-space: nowrap;
  position: absolute;
  cursor: pointer;

  &:hover {
    $douxPapillon: 0.5s;
  }

  &:active {
    animation: dpl 5s;
    $douxPapillon: 0.5s;
  }
}

.fly--image {
  width: 100%;
  animation: papillon $douxPapillon alternate infinite;
}

@keyframes dpl {
  0% {
    transform: rotate(0deg);
    height: 10%;
    width: 10%;
    top: 0vw;
    left: 0vw;
  }

  10% {
    transform: rotate(25deg);
    height: 15%;
    width: 15%;
    top: 5vw;
    left: 0vw;
  }

  15% {
    transform: rotate(45deg);
    height: 10%;
    width: 10%;
    top: 10vw;
    left: 5vw;
  }

  20% {
    transform: rotate(60deg);
    height: 15%;
    width: 15%;
    top: 15vw;
    left: 10vw;
  }

  25% {
    transform: rotate(90deg);
    height: 17%;
    width: 17%;
    top: 20vw;
    left: 17vw;
  }

  30% {
    transform: rotate(95deg);
    height: 15%;
    width: 15%;
    top: 25vw;
    left: 25vw;
  }

  50% {
    transform: rotate(100deg);
    height: 10%;
    width: 10%;
    top: 30vw;
    left: 30vw;
  }

  70% {
    transform: rotate(115deg);
    height: 7%;
    width: 7%;
    top: 35vw;
    left: 45vw;
  }

  100% {
    transform: rotate(115deg);
    height: 0%;
    width: 0%;
    top: 40vw;
    left: 60vw;
  }

}

@keyframes papillon {
  0% {

    transform: scale(1.0) rotatey(45deg);
  }

  20% {
    transform: scale(1.05) rotatey(90deg);
  }

  40% {
    transform: scale(1.15) rotatey(120deg);
  }

  60% {
    transform: scale(1.2) rotatey(90deg);
  }

  80% {
    transform: scale(1.15) rotatey(180deg);
  }

  100% {
    transform: scale(1.1) rotatey(90deg);
  }

}

/* ----------------------------------------------------------------------
                              MIXIN
---------------------------------------------------------------------- */
/* ******************************************************* 
                     GRADIENT                        
******************************************************* */
@mixin color-grad-blue {
  background: rgb(0, 18, 254);
  background: -moz-linear-gradient(top, rgba(0, 18, 254, 1) 0%, rgba(0, 73, 254, 1) 10%, rgba(0, 73, 254, 0.3) 50%, rgba(0, 73, 254, 1) 90%, rgba(0, 18, 254, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 18, 254, 1) 0%, rgba(0, 73, 254, 1) 10%, rgba(0, 73, 254, 0.3) 50%, rgba(0, 73, 254, 1) 90%, rgba(0, 18, 254, 1) 100%);
  background: linear-gradient(to bottom, #0012fe 0%, rgba(0, 73, 254, 1) 10%, rgba(0, 73, 254, 0.3) 50%, rgba(0, 73, 254, 1) 90%, rgba(0, 18, 254, 1) 100%);
}

@mixin color-grad-gray {
  background: -moz-linear-gradient(top, rgba(40, 52, 59, 1) 0%, rgba(121, 131, 140, 0.5) 45%, rgba(130, 140, 149, 0.4) 50%, rgba(121, 131, 140, 0.55) 55%, rgba(40, 52, 59, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(40, 52, 59, 1) 0%, rgba(121, 131, 140, 0.5) 45%, rgba(130, 140, 149, 0.4) 50%, rgba(121, 131, 140, 0.55) 55%, rgba(40, 52, 59, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(40, 52, 59, 1) 0%, rgba(121, 131, 140, 0.5) 45%, rgba(130, 140, 149, 0.4) 50%, rgba(121, 131, 140, 0.55) 55%, rgba(40, 52, 59, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#28343b', endColorstr='#28343b', GradientType=0);
  /* IE6-9 */
}

@mixin color-grad-red {
  background: -moz-linear-gradient(top, rgba(252, 16, 0, 1) 0%, rgba(252, 16, 0, 0.5) 40%, rgba(252, 16, 0, 0.4) 50%, rgba(252, 16, 0, 0.55) 60%, rgba(252, 16, 0, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(252, 16, 0, 1) 0%, rgba(252, 16, 0, 0.5) 40%, rgba(252, 16, 0, 0.4) 50%, rgba(252, 16, 0, 0.55) 60%, rgba(252, 16, 0, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(252, 16, 0, 1) 0%, rgba(252, 16, 0, 0.5) 40%, rgba(252, 16, 0, 0.4) 50%, rgba(252, 16, 0, 0.55) 60%, rgba(252, 16, 0, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc1000', endColorstr='#fc1000', GradientType=0);
  /* IE6-9 */
}

@mixin color-grad-green{
background: -moz-linear-gradient(top,  rgba(41,154,11,1) 1%, rgba(41,154,11,0.4) 5%, rgba(39,154,9,0.6) 15%, rgba(33,153,0,1) 50%, rgba(33,153,0,0.99) 51%, rgba(39,154,8,0.6) 85%, rgba(40,154,10,0.4) 96%, rgba(41,154,11,1) 100%);
background: -webkit-linear-gradient(top,  rgba(41,154,11,1) 1%,rgba(41,154,11,0.4) 5%,rgba(39,154,9,0.6) 15%,rgba(33,153,0,1) 50%,rgba(33,153,0,0.99) 51%,rgba(39,154,8,0.6) 85%,rgba(40,154,10,0.4) 96%,rgba(41,154,11,1) 100%);
background: linear-gradient(to bottom,  rgba(41,154,11,1) 1%,rgba(41,154,11,0.4) 5%,rgba(39,154,9,0.6) 15%,rgba(33,153,0,1) 50%,rgba(33,153,0,0.99) 51%,rgba(39,154,8,0.6) 85%,rgba(40,154,10,0.4) 96%,rgba(41,154,11,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299a0b', endColorstr='#299a0b',GradientType=0 );

}