/* ------------------------------------------------
                      CARD BOOT
 ------------------------------------------------ */
.card {
    overflow:hidden;
  position: relative;
  border-radius: 7px;

  img {
    border-radius: 7px 7px 0 0;
  }

  &-body {
    position: relative;
    z-index: 9;
    background-color: rgba(7, 7, 7, 0.8);
    color: white;
    border-radius: 0 0 7px 7px;
    margin-top: 2px;
    transition:0.5s;
  }

  &__fond {
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0;
    border-radius: 7px;
    transition: 1s;
  }

  &:hover {
    .card-body{
        transform:translateY(5px);
    }
    .card__fond {
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    }
  }

  a {
    position: relative;
    z-index: 10;
  }
}

/* ------------------------------------------------
                      PAGE CONTACT
 ------------------------------------------------ */
.mycard{
    padding:1em;
    background-color: rgb(52, 52, 51);
    color:white;
    border-radius: 5px;
    transition:1s;
    @include translateXToRight;
    img{
        border-radius: 7px;
        max-width: 250px;
    }
    &-body{
        padding:1em;
    }
}
.cvText{
  transition:1s;
  @include translateYToDown;
}