/* ---------------------------------------------------------
                      POLICE DE CARACTERE 
---------------------------------------------------------- */
.myFont {
  // &1 {
  //   font-family: 'Open Sans Condensed', sans-serif;
  //   font-size: 1.3em;
  // }

  // &2 {
  //   font-family: 'Poiret One', cursive;

  //   h1 {
  //     font-size: 4em;
  //   }

  //   h2 {
  //     font-size: 2.5em;
  //   }
  // }

  &3 {
    // font-family: 'Nanum Myeongjo', serifGeorgia, Cambria, "Times New Roman", Times, serif;
    font-family: Georgia,serif;
    color:#46515B;
    h1 {
      text-shadow: 4px 4px 4px #aaa;
      font-size: 4em;
      color:rgb(52, 52, 51);
      @include opacityAndMove;
    }

    h2 {
      font-size: 2.5em;
    }
    li{
      font-size: 20px;
      line-height: 35px;
    }
    p{
      font-size: 20px;
      line-height: 30px;
    }
    pre{
      color: rgb(20, 27, 109);
      font-family: 'Courier New', Courier, monospace;
      font-size: 18px;
      line-height: 1.8em;
      border: 1px dashed gray;
      border-radius: 3px;
    }
  }

  // &4 {
  //   font-family: 'Cormorant',
  //     serif;
  //   font-size: 0.9em;
  // }

  &-droid {
    font-family: 'Droid Sans', arial;
    font-size: 1.2em;
    li{
      font-size: 20px;
      line-height: 35px;
    }
  }
}

/* ---------------------------------------------------------
                      PAGE COURS
---------------------------------------------------------- */
.search {
  border-radius: 7px;
  padding: 1em;
  font-size: 0.8em;
  border: 1px solid rgba(121, 119, 119, 0.822);
  background-color: #bfd2f03d;
  text-align: center;
  max-width: 90%;

  &__button {
    background-color: black;
    height: 35px;
    width: 100px;

    padding-right: 1.5em;
    padding-left: 1.5em;
    color: white;
    border-radius: 5px;
    font-size: medium;
  }

  &__text {
    height: 35px;
    width: 250px;
    max-width: 90%;
    border-radius: 5px;
    margin-right: 20px;
    font-size: 2.5em;
  }
}

.text3d {
  color: #444444;
  background: #FFFFFF;
  text-shadow: 1px 0px 1px #CCCCCC,
    0px 1px 1px #EEEEEE,
    2px 1px 1px #CCCCCC,
    1px 2px 1px #EEEEEE,
    3px 2px 1px #CCCCCC,
    2px 3px 1px #EEEEEE,
    4px 3px 1px #CCCCCC,
    3px 4px 1px #EEEEEE,
    5px 4px 1px #CCCCCC,
    4px 5px 1px #EEEEEE,
    6px 5px 1px #CCCCCC,
    5px 6px 1px #EEEEEE,
    7px 6px 1px #CCCCCC;
  color: #444444;
  background: #FFFFFF;
}

/* ---------------------------------------------------------
                     PORTFOLIO
---------------------------------------------------------- */
.front-end {
  overflow: hidden;

  &__title {
    @include translateXToRight;
  }
}

.back-end {
  overflow: hidden;

  &__title {
    @include translateXToLeft;
  }
}

/* ---------------------------------------------------------
                     TEXT EN GRAS
---------------------------------------------------------- */
.bold {
  font-weight: bold;
}

/* ---------------------------------------------------------
                      COULEUR DE FOND PAGE ACCEUIL
---------------------------------------------------------- */
.JekyllColor {
  background-color: rgb(52, 52, 51);
}

/* ---------------------------------------------------------
                      PICTUREBOX
---------------------------------------------------------- */
#containerImg {
  max-height: 80vh;
}

.vignette {
  min-height: 150px;
  cursor: pointer;
  transition: 0.5s;
}

.vignette:hover {
  filter: hue-rotate(120deg);
  -webkit-filter: hue-rotate(120deg);
  transform: scale(1.03);
}

/* ---------------------------------------------------------
                      FOOTER
---------------------------------------------------------- */
.txtOmbrage {
  text-shadow: gray 0.1em 0.1em 0.2em
}




