---
layout: default
titre: Contact
---

<div class="container mt-5">
  <div class="row">
    <div class="col-12 d-flex flex-row justify-content-center">
      <div class="card" style="width:18rem;">
        <img src={{"/images/contact/user.png" | relative_url }} class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Lanza Eric</h5>
          <p class="card-text">23 rue Villeneuve</p>
          <p class="card-text">13001 Marseille</p>
          <a href="https://ricou12.github.io/CV-Version-Final/" class="btn btn-outline-info d-flex justify-content-center">Voir mon CV</a>
        </div>
      </div>
    </div>
  </div>
</div>
