---
layout: default
titre: JavaScript
---
<article class="container myFont4">

  <div class="row">
    <section class="col-12  text-center">
      <h1>Javascript</h1>
      <br>
    </section>
    <section class="col-12">
      <h2">Notions</h2>
      <ul>
        <li>Affiche une information dans le devTools, onglet console.
          <pre> console.log();</pre>
        </li>
        <li>Stop l'exécution du script :
          <pre>debugger;</pre>
        </li>
        <li>Afficher un message dans une boite de dialogue :
          <pre>alert('message');</pre>
        </li>
        <li>Entrer un message dans une boite de dialogue :
          <pre>cont Ma_variable = prompt('entrer un message');</pre>
        </li>
        <li>Récupérer le message :
          <pre>alert(`Bonjour, ${prenom}`);</pre>ou
          <pre>alert(Ma_variable);</pre>
        </li>
        <li>Type nombre (number) : valeur numérique entière ou réelle</li>
        <li>Type chaîne de caractères (string)</li>
        <li>Une valeur de type texte est délimitée par une paire de guillemets simples ' ... ' ou doubles " ... ".</li>
        <li>Les opérateurs + , - , * et / permettent de réaliser des opérations arithmétiques entre deux nombres.
          Appliqué à deux chaînes, l'opérateur + les fusionne en une seule. Cette opération est appelée concaténation.
        </li>
        <li>Les commentaires ( // ... ou /* ... */ )</li>
      </ul>
      <br>
      <h2>les variables</h2>
      <ul>
        <li>Choisir des noms significatifs</li>
        <li>Bannir les caractères accentués</li>
        <li>Ne pas utiliser les noms réservés du langage</li>
        <li>Adopter une convention de nommage</li>
      </ul>
      <p>3 propriétés: </p>
      <ul>
        <li>nom : peut contenir des lettres majuscules ou minuscules, des chiffres (sauf en première position) et
          certains caractères comme le dollar ($) ou le tiret bas, appelé underscore (_).</li>
        <li>valeur : la donnée actuellement mémorisée dans cette variable.</li>
        <li>type : détermine le rôle et les opérations applicables à cette variable. </li>
      </ul>
      <p>Déclaration</p>
      <ul>
        <li>
          <pre>var ma_variable (obsolète)</pre>
        </li>
        <li>
          <pre>let ma_variable</pre>
        </li>
        <li>
          <pre>const ma_variable (pour une valeur fixe)</pre>
        </li>
      </ul>
      <p>Affectation, assignation de valeur</p>
      <ul>
        <li>Assigne une valeur ma_variable
          <pre>ma_variable = value</pre>
        </li>
        <li>Ajoute value à ma_variable
          <pre>ma_variable += value</pre>
        </li>
        <li>Ajoute 1 à ma_variable
          <pre>ma_variable++</pre>
        </li>
      </ul>
    </section>
  </div>
  <div class="row">
    <h2>Les conditions</h2>
    
  </div> 
</article>
