/* ******************************************************* 
                     GRADIENT                        
******************************************************* */
@mixin color-grad-blue {
  background: rgb(0, 18, 254);
  background: -moz-linear-gradient(top, rgba(0, 18, 254, 1) 0%, rgba(0, 73, 254, 1) 10%, rgba(0, 73, 254, 0.3) 50%, rgba(0, 73, 254, 1) 90%, rgba(0, 18, 254, 1) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 18, 254, 1) 0%, rgba(0, 73, 254, 1) 10%, rgba(0, 73, 254, 0.3) 50%, rgba(0, 73, 254, 1) 90%, rgba(0, 18, 254, 1) 100%);
  background: linear-gradient(to bottom, rgba(0, 18, 254, 1) 0%, rgba(0, 73, 254, 1) 10%, rgba(0, 73, 254, 0.3) 50%, rgba(0, 73, 254, 1) 90%, rgba(0, 18, 254, 1) 100%);
}

@mixin color-grad-gray {
  background: -moz-linear-gradient(top, rgba(40, 52, 59, 1) 0%, rgba(121, 131, 140, 0.5) 45%, rgba(130, 140, 149, 0.4) 50%, rgba(121, 131, 140, 0.55) 55%, rgba(40, 52, 59, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(40, 52, 59, 1) 0%, rgba(121, 131, 140, 0.5) 45%, rgba(130, 140, 149, 0.4) 50%, rgba(121, 131, 140, 0.55) 55%, rgba(40, 52, 59, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(40, 52, 59, 1) 0%, rgba(121, 131, 140, 0.5) 45%, rgba(130, 140, 149, 0.4) 50%, rgba(121, 131, 140, 0.55) 55%, rgba(40, 52, 59, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#28343b', endColorstr='#28343b', GradientType=0);
  /* IE6-9 */
}

@mixin color-grad-red {
  background: -moz-linear-gradient(top, rgba(252, 16, 0, 1) 0%, rgba(252, 16, 0, 0.5) 40%, rgba(252, 16, 0, 0.4) 50%, rgba(252, 16, 0, 0.55) 60%, rgba(252, 16, 0, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(252, 16, 0, 1) 0%, rgba(252, 16, 0, 0.5) 40%, rgba(252, 16, 0, 0.4) 50%, rgba(252, 16, 0, 0.55) 60%, rgba(252, 16, 0, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(252, 16, 0, 1) 0%, rgba(252, 16, 0, 0.5) 40%, rgba(252, 16, 0, 0.4) 50%, rgba(252, 16, 0, 0.55) 60%, rgba(252, 16, 0, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc1000', endColorstr='#fc1000', GradientType=0);
  /* IE6-9 */
}

@mixin color-grad-green{
background: -moz-linear-gradient(top,  rgba(41,154,11,1) 1%, rgba(41,154,11,0.4) 5%, rgba(39,154,9,0.6) 15%, rgba(33,153,0,1) 50%, rgba(33,153,0,0.99) 51%, rgba(39,154,8,0.6) 85%, rgba(40,154,10,0.4) 96%, rgba(41,154,11,1) 100%);
background: -webkit-linear-gradient(top,  rgba(41,154,11,1) 1%,rgba(41,154,11,0.4) 5%,rgba(39,154,9,0.6) 15%,rgba(33,153,0,1) 50%,rgba(33,153,0,0.99) 51%,rgba(39,154,8,0.6) 85%,rgba(40,154,10,0.4) 96%,rgba(41,154,11,1) 100%);
background: linear-gradient(to bottom,  rgba(41,154,11,1) 1%,rgba(41,154,11,0.4) 5%,rgba(39,154,9,0.6) 15%,rgba(33,153,0,1) 50%,rgba(33,153,0,0.99) 51%,rgba(39,154,8,0.6) 85%,rgba(40,154,10,0.4) 96%,rgba(41,154,11,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#299a0b', endColorstr='#299a0b',GradientType=0 );

}
/* ******************************************************* 
                     SHADOW                       
******************************************************* */
@mixin shadow-leftToRight {
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -12px -27px 18px -22px rgba(0, 0, 0, 0);
  box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, -12px -27px 18px -22px rgba(0, 0, 0, 0);
}
