---
layout: default
---
<article class="container myFont3">
  <div class="row">
    <section class="col-12 text-center mt-5 mb-5 bg-secondary text-white p-2">
      <h1>HTML et CSS</h1>
    </section>
    <section class="col-12">
      <h2>Développer des pages web statiques en utilisant HTML et CSS</h2><br>
      <p>Suivre le cours<a
          href="https://openclassrooms.com/fr/courses/1603881-apprenez-a-creer-votre-site-web-avec-html5-et-css3?status=published"
          target="_blank">
          Apprenez à créer votre site web avec HTML5 et CSS3</a> mis à disposition par OpenClassRooms.
      </p>
<br><hr>
      <h4>HTML</h4><br>
      <h5>Mémento</h5>
      <p><a
          href="https://openclassrooms.com/fr/courses/1603881-apprenez-a-creer-votre-site-web-avec-html5-et-css3/1608357-memento-des-balises-html"
          target="_blank">Utiliser
          le mémento HTML</a> proposé par OpenClassRooms.</p>
      <h5>Intégrer du contenu multimedia</h5>
        <p>Suivre
          le cours <a
            href="https://openclassrooms.com/fr/courses/1603881-apprenez-a-creer-votre-site-web-avec-html5-et-css3/1607438-enrichissez-votre-site-avec-de-la-video-et-de-laudio" target="_blank">Enrichissez
            votre site avec de la vidéo et de l’audio</a> mis à disposition par OpenClassRooms.
        </p><br><hr>
      


      <h4>CSS</h4>
      <p><a
          href="https://openclassrooms.com/fr/courses/1603881-apprenez-a-creer-votre-site-web-avec-html5-et-css3/1608357-memento-des-balises-html"
          target="_blank">Utiliser
          le mémento CSS</a> proposé par OpenClassRooms.</p>
      <ul>
        <h5>CSS Functions Reference</h5>
        <p><a href="https://www.w3schools.com/cssref/css_functions.asp" target="_blank">Les fonctions CSS</a></p>
        <h5>Propriétés CSS</h5>
        <p><a href="http://www.css-faciles.com/proprietes-css-liste-alphabetique.php" target="_blank">Toutes les
            propriétés CSS</a></p>
        <p><a href="https://openclassrooms.com/fr/courses/2745636-utilisez-les-effets-avances-de-css-sur-votre-site"
            target="_blank">Utilisez
            les effets avancés de CSS sur votre site</a>
        </p>
        <p><a href="https://miketricking.github.io/bootstrap-image-hover/" target="_blank">Image hover effects</a>
          Gallerie d'effet à télécharger.</p>
        <p><a href="https://developer.mozilla.org/fr/docs/Web/CSS/animation" target="_blank">Utiliser les animations
            css.</a></p>
        <p><a href="https://la-cascade.io/les-filtres-css/" target="_blank">Les filtres CSS</a></p>
        <h5>Les systèmes de positionnement</h5>
        <ul>
          <h6>Grid</h6>
          <p><a href="https://la-cascade.io/css-grid-layout-guide-complet/" target="_blank">CSS Grid Layout</a>, guide complet.</p>
          <p><a href="https://css-tricks.com/snippets/css/complete-guide-grid/" target="_blank">A Complete Guide to Grid.</a> chez css
            tricks</p>
          <p><a href="https://openclassrooms.com/fr/courses/5295881-create-web-page-layouts-with-css" target="_blank">Create Web Page
              Layouts With CSS.</a></p>
          <p><a href="https://www.synbioz.com/blog/tech/css-grid" target="_blank">CSS Grid Layout</a> c'est magique.</p>
          <h6>Flex</h6>
          <p><a href="">Faites votre mise en page avec Flexbox</a> propsé par OpenClassRooms.</p>
          <p><a
              href="https://developer.mozilla.org/fr/docs/Web/CSS/CSS_Flexible_Box_Layout/Concepts_de_base_flexbox" target="_blank">Les
              concepts de base pour flexbox.</a></p>
          <p><a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/" target="_blank">A Complete Guide to Flexbox.</a>
          </p>
          <p><a href="https://la-cascade.io/flexbox-guide-complet/" target="_blank">Flexbox, guide complet.</a></p>
        </ul>
      </ul>

    </section>
  </div>
</article>
