---
layout: default
titre: Micro-framework
---

<article class="container">
    <section class="row">
        <div class="col-12 mt-5 mb-5">
            <h1>Réalisation d'un micro-framework CSS</h1>
        </div>
        <div class="col-12">
            {%- include microFrame.html -%}
            <h2>Utilisation de Sass</h2>
            <p>un fichier regroupant tous les dépendances css{
                "type": "article",
                "id": "id",
                "label": "label",
                "info": ""
            }, @import "_utilities.scss";
              @import "variables.scss";
              @import "bgColor.scss";
              @import "grid.scss";
              @import "card.scss";
              @import "radius.scss";
              @import "shadows.scss";
              @import "margin.scss";
              @import "padding.scss";
              @import "color.scss";
              @import "flex.scss";
              @import "button.scss";</p>
        </div>
    </section>
</article>