---
layout : default
titre : Portfolio
---
<main class="container mt-1">

  <aticle class="row">
      
    <!-- Titre de la page -->
    <section class="col-12 text-center  bg-color--blue text-white p-2">
     <h1>Portfolio</h1>
    </section>
    
    <!-- WEB STATIQUE -->
    <section class="web-static col-12 col-md-6 border shadow-lg p-5 ">
      <aside class="web-static__title alert alert-secondary text-center mb-5 shadow-lg" role="alert">
        <h3 class="mb-4">Web statique</h3>
        <p class="mb-5">Liens vers Github...</p>
      </aside>
      <aside>
        {%- if site.web-static.size > 0 -%}
        {% assign wStatic = site.web-static  | sort: 'identifiant' %}
        {% for w in wStatic %}
        {{ w.content }}
        {% endfor %}
        {%- endif -%}
      </aside>
    </section>
    <!-- WEB DYNAMIQUE -->
    <!-- PictureBox  html css et javascript -->
    <section class="col-12 col-md-6 border shadow-lg p-5">
      <aside class="alert alert-secondary text-center mb-5 shadow-lg" role="alert">
        <h3 class="mb-4">Web dynamique</h3>
        <p class="mb-5">Premiers pas en Javascript.</p>
      </aside>
      <aside>
        {%- if site.web-dynamic.size > 0 -%}
        {% assign wdynamic = site.web-dynamic  | sort: 'identifiant' %}
        {%- for wdyn in wdynamic -%}
        {{ wdyn.content }}
        {%- endfor -%}
        {%- endif -%}
      </aside>
    </section>

  </article>

</main>
